.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 3rem;
    border: 1px solid transparent;
    width: 100%;
}
.brand-centered {
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
}

.brand-centered .navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-toggle {
    z-index: 1;
}

.navbar-brand {
    height: 70px;
    border-radius: 50%;
    border: 3px solid #000;
    overflow: hidden;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
    vertical-align: middle;
}
.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px;
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    transform: translate(0, -50%);
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-nav>li>.dropdown-menu {
    z-index: 9999;
}