<div class="container">
  <div class="col-12">
    <div class="row">
      <div class="col-12 text-right text-muted">
        <h4>Total Uploads:- {{EmployeeList.length}}</h4>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 list" *ngFor="let dataItem of EmployeeList">
        <img width="300" height="300" (click)="showImage(dataItem)" attr.data-id="{{dataItem.EmployeeId}}"
          [ngClass]="dataItem.EmployeeId == currentId ? 'w-100 rounded active' : 'w-100 rounded'"
          [defaultImage]="defaultImage" [lazyLoad]="PhotoUrl+dataItem.PhotoFileName" alt="{{dataItem.EmployeeName}}"
          data-toggle="modal" data-target="#detailsModal" data-keyboard="false" />
        <a href="{{PhotoUrl}}{{dataItem.PhotoFileName}}" class="text-right float-right" target="_blank" download="{{dataItem.PhotoFileName}}">Download</a>
      </div>
    </div>
  </div>
</div>
<div class="modal fade fullwidth" id="detailsModal" (click)="gotoTop()" tabindex="-1" role="dialog"
  aria-labelledby="detailsModalLabel" aria-hidden="true">
  <div class="modal-dialog fullwidth--box modal-dialog-centered" role="document">
    <div class="modal-content no--shadow">
      <div class="modal-body" *ngIf="showCurrentImageURL != undefined">
        <div class="card">
          <button type="button" class="close" (click)="gotoTop()" data-dismiss="modal" aria-label="Close">
            <!-- <span aria-hidden="true">&times;</span> -->
            <img src="../../assets/cross.svg" alt="">
          </button>
          <a href="{{showCurrentImageURL}}" target="_blank" class="text-right float-right" download="{{dataItem.PhotoFileName}}">Download</a>
          <img width="300" height="300" class="w-100" alt="{{imageName}}"
            [defaultImage]="defaultImage" [lazyLoad]="showCurrentImageURL" />
        </div>
        <button class="left-btn carousel-control-prev" (click)="prevNext(-1)" [disabled]="left">
          <div class="arrow-icon">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </div>
        </button>
        <button class="right-btn carousel-control-next" (click)="prevNext(1)" [disabled]="right">
          <div class="arrow-icon">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>