img {
    height: unset;
}

.modal-body img {
    max-height: fit-content;
    height: 100%;
}
.modal-dialog{
    margin: 1.2rem auto;
}
.modal-header .close {
    outline: none;
}
.modal-body .card {
    border: 0px solid;
}
.left-btn, .right-btn {
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: none;
    max-height: unset;
    margin: auto 0;
    height: 40px;
    width: 40px;
    vertical-align: middle;
}
.modal-content.no--shadow {
    margin: auto 1rem;
}
.left-btn[disabled], .right-btn[disabled] {
    opacity: .7;
    cursor: not-allowed;
}

.left-btn[disabled] div, .right-btn[disabled] div {
    background: #ff11007d;
}

.arrow-icon {
    padding: 5px;
    background: #009688;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.arrow-icon span {
    vertical-align: middle;
    text-align: center;
    height: 100%;
    max-width: 15px;
    padding: 0;
    border: 0;
    outline: 0;
}

.close {
    position: absolute;
    top: -31px;
    right: -31px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: none;
    color: #000;
    opacity: .75;
}

.close img {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    color: #000;
}

img.w-100.rounded.active {
    box-shadow: 0 0 15px #009688;
    border-radius: 0 !important;
    box-sizing: border-box;
    transform: scale(1);
    animation: pulse-animation 2.5s 5;
}

div#detailsModal {
    background: #9a9a9af0 !important;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #0096883b;
        border: 2px solid #0096883b;
    }
    100% {
        box-shadow: 0 0 0 5px #0096883b;
        border: 2px solid #0096883b;
    }
}
.list img {
    cursor: pointer;
}